@CHARSET "UTF-8";
.pagination {
	padding: 2px;
}
.pagination ul {
	margin: 0;
	padding: 0;
	text-align: left;
}
.pagination li { 
	list-style-type: none; 
	display: inline; 
	padding-bottom: 1px;
}
.pagination a, .pagination a:visited { 
	padding: 0 12px; 
	border: solid 1px #CCC; 
	text-decoration: none; 
	color: #2e6ab1;
}
.pagination a:hover, .pagination a:active { 
	border: solid 1px #CCC; 
	background-color: lightyellow;	
}
.pagination li.currentpage { 
	font-weight: bold; 
	padding: 0 12px; 
	border: solid 1px #1cc4ad;
	background-color: #1cc4ad; 
	color: #FFF;	
}
.pagination li.disablepage { 
	padding: 0 12px; 
	border: 1px solid #929292; 
	color: #929292;	
}
.pagination li.nextpage { 
	font-weight: bold;	
}